//_underscore means this file is a partial

//colours
$brown: #7C5628;
//$cuteBrown: #c5936a;
$cuteBrown: #f5cb93;
$darkPink: #fd9bb4;
$pink: #FFB6C7;
$lightPink: #ffdae4;
$banana: #FBEFB5;
$offWhite: #FEFDF3;
$skyBlue: #AAE0F0;
$offBlack:rgb(65, 65, 65);
$grey:rgb(97, 97, 97);



