@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'variables';

.shop{

    margin-top:50px;
    position:relative;

    label, #product-sort{
        float:right;
    }

    label{
        margin-right:10px;
    }

    #product-sort{
        margin-right:40px;
    }

    .grid-container{
        position:relative;
        padding-top: 40px;
        padding-left:15%;
        padding-right:15%;
        display:grid;
        //grid-template-columns:20% 20% 20%;
        //grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        //gap:80px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap:5%;
        justify-content: center;
        text-align: center;
    
        .product{
            background-color: $offWhite;
            width:80%;
            min-width: 150px;
        }
    }
    
    .item{
        position: relative;
        &:hover button{
            visibility: visible;
            opacity:1;
        }

        #new-alert{
            position: absolute;
            padding-top:10px;
            background-color: $skyBlue;
            padding:5px 10px 5px 10px;
        }
        button{
            position:absolute;
            border:none;
            margin-left:-40px;
            padding:5px;
            padding-left:12px;
            padding-right:12px;
            border-radius: 30px;
            background-color: $pink;
            visibility: hidden;
            transition:visibility 0.3s linear,opacity 0.3s linear;
            opacity:0;

            &:hover{
                background-color: $lightPink;
                
            }
        }
    }

    #content-title{
        font-size:calc(12px + 1.8vw);
        text-align: center;
        font-weight:bold;
    }
    
    #results{
        margin-left:40px;
    }

    #cart{
        width:40px;
        background-color: transparent;
        position: relative;
        margin-top:7px;
        margin-left:-2px;
    }
}

